@-webkit-keyframes slide-inA {
  0% {
    transform: opacity(0.9);
    opacity: 0;
  }
  100% {
    transform: opacity(1);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes slide-inA {
  0% {
    transform: opacity(0.9);
    opacity: 0;
  }
  100% {
    transform: opacity(1);
    opacity: 1;
    visibility: visible;
  }
}

@-webkit-keyframes slide-outA {
  100% {
    transform: opacity(0.9);
    opacity: 0;
    visibility: hidden;
  }
  0% {
    transform: opacity(1);
    opacity: 1;
  }
}

@keyframes slide-outA {
  100% {
    transform: opacity(0.9);
    opacity: 0;
    visibility: hidden;
  }
  0% {
    transform: opacity(1);
    opacity: 1;
  }
}

#modal {
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.48);
  z-index: 13;

  top: 0;
}

.internalModal {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-top: 1.5rem;
  width: 100%;
  max-width: 32rem;

  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

.modalHideA {
  visibility: hidden;
}

.modalHide {
  -webkit-animation: slide-outA 250ms ease-in-out both;
  animation: slide-outA 250ms ease-in-out both;
}

.modalShow {
  -webkit-animation: slide-inA 250ms ease-in-out both;
  animation: slide-inA 250ms ease-in-out both;
}

#modal .boxTitle {
  margin: 1rem;
  font-size: 18px;
}

#modal form .inputs {
  margin: 1rem;
}

#modal form input,
#modal form #input {
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 10px;

  border: 1px solid rgba(50, 51, 53, 1);
  color: black;

  width: 100%;
}

#modal form .buttons {
  display: flex;
  flex-direction: row;

  justify-content: flex-end;
}

#modal form button {
  background-color: rgba(235, 235, 235, 1);
  cursor: pointer;
  white-space: nowrap;

  border: none;
  float: right;

  transition: background-color 250ms ease-in-out;
  width: max-content;
  padding: 0 1rem;
  height: 2.5rem;
  margin: 1rem;

  border-radius: 10px;
  background-color: white;

  font-size: 16px;
  font-weight: 500;
  color: black;
}

#modal form .cancelChange {
  color: white;
  background-color: rgb(49, 130, 206);
}

#modal form .cancelChange:hover {
  transition: background-color 250ms ease-in-out;
  background-color: rgb(34, 155, 255);
}

#modal form .submitChange:hover {
  transition: background-color 250ms ease-in-out;
  background-color: rgb(238, 238, 238);
}

.error {
  color: rgb(255, 83, 83);
  font-size: 15px;
  padding: 0 2rem 0 2rem;
}

@media only screen and (max-width: 900px) {
  .internalModal {
    width: 80%;
  }
}

/* ################### */
/* Dark Mode */
/* ################### */

[data-theme="dark"],
[data-theme="dark"] .internalModal,
[data-theme="dark"] #modal form input,
[data-theme="dark"] #modal form #input {
  background-color: #26292c;
  color: white;
}

[data-theme="dark"] #modal form input,
[data-theme="dark"] #modal form #input {
  border: 1px solid rgb(68, 69, 71);
}

[data-theme="dark"] #modal form button {
  background-color: #26292c;
  color: white;
}
[data-theme="dark"] #modal form .cancelChange {
  color: white;
  background-color: rgb(49, 130, 206);
}
[data-theme="dark"] #modal form .cancelChange:hover {
  color: white;
  background-color: rgb(34, 155, 255);
}
[data-theme="dark"] #modal form .submitChange:hover {
  background-color: #2f3235;
}
