@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;

  background-color: white;
  color: #14171a;

  overflow-x: hidden;
  font-size: 16px;
}

a {
  color: #4895ef;
  text-decoration: none;
  margin: 0.25rem;
}

* {
  box-sizing: border-box;
}

.container {
  min-height: 100vh;

  margin: 1rem;
  padding-top: 8rem;

  background-color: white;
  color: #14171a;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.divider {
  margin: 1rem 0;

  border-radius: 10px;
  border-top: 1px solid #acacac;
}

[data-theme="dark"] html,
[data-theme="dark"] body,
[data-theme="dark"] .container {
  color: white;
  background-color: #14171a;
}

[data-theme="dark"] .divider {
  border-color: #555555;
}
