.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: calc(100% - 2rem);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 0.2rem 2rem;
  margin: 1rem;

  color: black;
  background-color: rgba(175, 175, 175, 0.1);
  backdrop-filter: blur(8px);

  border-radius: 10px;

  z-index: 10;
}

.navbar a {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-right: 3rem;
}

.navbar a img {
  height: 3rem;
}

.navbar #links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: left;
  font-size: 16px;

  width: 100%;
}

.navbar #links #dashboard {
  position: absolute;
  right: 2rem;
}

.navbar #links p {
  cursor: pointer;

  margin-right: 2rem;
}
.navbar #links a {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 100%;
  height: 100%;

  margin: 0;
}

.navbar #links .close {
  display: none;
  background-color: transparent;

  color: white;
}

.navbar .menu {
  color: #4895ef;
  display: none;
  width: 32px;
  height: 32px;
}

@media only screen and (max-width: 900px) {
  .navbar {
    position: fixed;
    z-index: 3;
    transform-origin: top right;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .navbar .menu {
    display: block;
    cursor: pointer;
  }

  .navbar a {
    width: 2rem;
    color: #4895ef;
  }

  .navbar #links {
    display: block;
    background-color: rgb(247, 247, 247);

    padding: 0.5rem 5rem 1rem 1rem;
    border-radius: 10px;

    width: 100%;
    z-index: 10;
    text-align: left;

    transform-origin: top right;

    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
  }

  .navbar #links #dashboard {
    margin-top: 4rem;
    position: static;
  }

  .navbar #links .close {
    display: block;
  }

  .navbar .no {
    visibility: hidden;
  }

  .navbar .active {
    -webkit-animation: slide-inA 100ms ease-in-out both;
    animation: slide-inA 100ms ease-in-out both;
  }

  .navbar .disactive {
    -webkit-animation: slide-outA 100ms ease-in-out both;
    animation: slide-outA 100ms ease-in-out both;
  }

  .navbar #links .close {
    float: right;
    border: none;
    cursor: pointer;
    margin-right: -3rem;
    margin-top: 0.6rem;

    color: #4895ef;
  }

  [data-theme="dark"] .navbar #links {
    background-color: rgb(37, 37, 37);
  }

  @-webkit-keyframes slide-inA {
    0% {
      transform: scale(0.9);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes slide-inA {
    0% {
      transform: scale(0.9);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  @-webkit-keyframes slide-outA {
    100% {
      transform: scale(0.9);
      opacity: 0;
      visibility: hidden;
    }
    0% {
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes slide-outA {
    100% {
      transform: scale(0.9);
      opacity: 0;
      visibility: hidden;
    }
    0% {
      transform: scale(1);
      opacity: 1;
    }
  }
}

[data-theme="dark"] .navbar {
  background-color: rgba(87, 87, 87, 0.1);
}
